/* 
 TYPOGRAPHY
 Font related information only (ie. font-*, text-*, line-height )
 See http://www.alistapart.com/articles/howtosizetextincss for sizing technique
 for a quick note - just hit this: http://jontangerine.com/silo/css/pixels-to-ems/ very easy guide to use.
*/
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", arial, verdana, sans-serif;
}

/* 34px */
h1 {
	font-size: 2.125em;
}

/* 26px */
h2 {
	font-size: 1.625em;
}

/* 14px */
ul#navigation,
#footer {
	font-size: 0.875em;
}
